{% extends "BD/default.html" %}
{% load i18n %}
{% load allauth %}
{% block content %}

<div class="all">
    <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
        class="img-fluid" alt="Phone image">
    </div>
   {% element h1 %}
        {% trans "Изменение пароля" %}
    {% endelement %}
    <p>{% trans 'Ваш пароль был успешно изменен!' %}</p>
    <p>Теперь вы можете <a href="{% url 'profile' %}">Авторизоваться</a> на сайте!</p>
</div>
{% endblock content %}
