{% extends "BD/default.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="all">
        <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
    <div class="inside">
        <h1>Востановления пароля</h1>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>
            {% trans "Забыли пароль? Напишите свою почту на которую вам придет письмо для востановления пароля!" %}
        </p>
            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <div class="form-input" >
                    {% element fields form=form %}
                     {{ form.form }}
                    {% endelement %}
                </div>
                <button class="btn btn-primary btn-lg" type="submit">{% trans "Восстановить" %}</button>
            </form>
    </div>
</div>

<style>
    .form-input {
        display:flex;
        flex-direction: column;
        margin: 10px 0;
    }
    .all{
        margin-top: 50px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .inside{
        width: 50%;
    }
</style>
{% endblock content %}
