{% extends "BD/default.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="all">
    <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
        class="img-fluid" alt="Phone image">
    </div>
    <div class="inside">
        <h1>Востановления пароля</h1>
        <p>{% blocktrans %}На вышу почту было отправленно письмо для востановления пароля.{% endblocktrans %}</p>
        <p>Данную страницу можно закрыть.</p>
    </div>
</div>
<style>
        .all{
            margin-top: 50px;
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        p{
            font-size: 24px;
        }
</style>
{% endblock content %}
