{% extends "BD/default.html" %}
{% load i18n %}
{% load allauth %}

{% block content %}
<div class="all">
    <h1>Авторизация через Google</h1>
</div>
    {% element form method="post" no_visible_fields=True %}
        {% slot actions %}
            {% csrf_token %}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans "Авторизоваться" %}</button>
                </div>
        {% endslot %}
    {% endelement %}
{% endblock content %}
