{% extends 'BD/default.html' %}
{% load Filters %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/PostDetail.css' %}">
    <div class="post-content">

        <div class="post-block">
            <div>
                <h1>{{ post.title|censore }}</h1>
            </div>
            <div>
                <p>{{ post.text|censore }}</p>
            </div>

            <div class="post-info">
            <div>
                <h3><span>Автор: </span>{{ post.author.user.username }}</h3>
            </div>
            <div>
                <h4><span>Дата: </span>{{ post.date|date:"d/m/Y" }}</h4>
            </div>
        </div>
        </div>
    </div>
{% endblock %}